body{
    margin: 0;
  padding: 0;
  background-color: #efeee7;
  font-family: "Georgia",Times New Roman,Times,serif;
  color: #333333;
}

header {
    background-color: #333333;
}

h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 15px;
    border: solid;
}

h2{
    font-size: 24px;    
    text-align: left;
}

.container {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
}

#main-bio, #contact-info, #bio-image{
    float: left;
}

#main-bio{
    width: 70%;
}

#contact-info {
    width: 30%;
    height: 1.5em;
}

a {
    color: #d21034;
}

#prof-summary {
    margin-left: 10%;
}

#bio-image {
    width: 200px;
    alt: "Profile picture";
}